:root {
    --green-0: rgb(225, 240, 237);
    --green-1: rgb(200, 226, 215);
    --green-2: rgb(20, 69, 47);
    --green-3: rgb(24, 57, 43);
    --green-4: rgb(29, 46, 40);
    --text-shadow-1: rgba(200, 226, 215, .15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(25, 25, 25, 1);
    color: white;
    font-family: "Roboto Slab", serif;
}